body{
    background: url('../imgs/images.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bodyContainer{
    z-index: 999;
    background-color: rgba(247, 247, 247, 0.41);
    min-height:  123vh;
}
/* navbar */

header{
    box-shadow: 2px 2px 18px #5d5c5c;
}
nav.bg-light,header.bg-light{
    background-color: #f0f0f0 !important;
}

nav .headerTxt{
    font-size: 27px;
    color: #7aad37;
    text-transform: capitalize;
}
nav .headerTxt span{
    font-size: 40px;
    color: black;
    text-transform: capitalize;
}
nav #navbarNav{
    margin-left: 25%;
}
span.ourWords{
    font-size: 12px;
    text-align: center;
    position: relative;
    right: 37px;
    font-weight: bold;
    color: #7aad37;
}
/* Form Style */
.FormSection{
    padding: 70px 0px;
}
.FormSection input{
    margin: 32px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}
.FormSection input.btn{
    background: #7aad37c7;
    padding: 7px;
    color: #fff;
    font-weight: bold;
}
.form-control:focus{

    border-color: #7aad37c7;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #7aad37c7
}
.FormSection .forgetPassLink{
    float: right;
    color: darkblue;
    font-weight: bold;
    position: relative;
    top: -20px;
}
.FormSection span{
    position: relative;
    top: -16px;
    color: black;
    left: 37px;
}
.btn:focus{
    border-color: #7aad37c7;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #7aad37c7
}
.FormSection span a{
    color: darkblue;
    font-weight: bold;
   
}
.FormSection .traceForm h3{
    font-size: 24px;
    margin: 24px
}
.FormSection .traceForm input{
    margin: 53px 32px;
}
/* footer paragraph */
footer p {
    color: black;
    font-weight: 500;
    font-size: 15px;
    margin: 0px 10px;
    position: relative;
    top: 80px
}