
@{
    ViewBag.Title = "Hello";
}
<section class="HomeSection">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-3 col-md-12 main-action">
                <a href="/agriculture/Add-Offer.html">Add Offer</a>
            </div>
            <div class="col-lg-3 col-md-12 main-action">
                <a href="/agriculture/Make-Contract.html">Make Contract</a>
            </div>
        </div>
    </div>

</section>

