
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bannerDiv"><ul><li><a href="/Home">Home</a></li>/</ul></div>
<section class="container HomeSection">
    <div class="row">

        <div class="col-md-8">
            <h2>AGROLEAP</h2>
            <p>
                This project will apply a new technology to support agriculture supply
                chain which is blockchain technology. Blockchain technology is a technology for storing,
                validating and licensing digital transactions on the Internet with high security and
                encryption. Blockchain technology is reliable and tough, shared and mutualized, and
                ensured at the information component level. When there is a transaction the information
                is recorded in a shared ledger or block..
            </p>
            <p>
                In our system, the most appropriate version is the smart contract which will automate the
                transaction in the agriculture supply chain.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/imgs/home2.png" width="300" class="mt-5" />
        </div>
    </div>
</section>
