
Agriculure/.vs/Agriculure/DesignTimeBuild/.dtbcache
Agriculure/.vs/Agriculure/v15/.suo
*.lock
Agriculure/.vs/Agriculure/v15/Server/sqlite3/storage.ide
Agriculure/.vs/Agriculure/v15/Server/sqlite3/storage.ide-shm
Agriculure/.vs/Agriculure/v15/Server/sqlite3/storage.ide-wal
Agriculure/.vs/config/applicationhost.config
Agriculure/Agriculure.WebUi/bin/Agriculure.WebUi.dll
Agriculure/Agriculure.WebUi/bin/Agriculure.WebUi.dll
Agriculure/Agriculure.WebUi/bin/Agriculure.WebUi.pdb
Agriculure/Agriculure.WebUi/obj/Debug/Agriculure.WebUi.csproj.CoreCompileInputs.cache
Agriculure/Agriculure.WebUi/obj/Debug/Agriculure.WebUi.csproj.FileListAbsolute.txt
Agriculure/Agriculure.WebUi/obj/Debug/Agriculure.WebUi.csproj.GenerateResource.cache
Agriculure/Agriculure.WebUi/obj/Debug/Agriculure.WebUi.csprojAssemblyReference.cache
Agriculure/Agriculure.WebUi/obj/Debug/Agriculure.WebUi.dll
Agriculure/Agriculure.WebUi/obj/Debug/Agriculure.WebUi.pdb
