
Agriculure/.vs/Agriculure/DesignTimeBuild/.dtbcache
Agriculure/.vs/Agriculure/v15/.suo
*.lock
Agriculure/.vs/Agriculure/v15/Server/sqlite3/storage.ide
Agriculure/.vs/Agriculure/v15/Server/sqlite3/storage.ide-shm
Agriculure/.vs/Agriculure/v15/Server/sqlite3/storage.ide-wal
Agriculure/.vs/config/applicationhost.config
