<div class="bannerDiv"><ul><li><a href="/Home">Home</a></li>/<li><a href="/Products">Products</a></li>/<li>Product History</li></ul></div>

<div class="timeline">
    <div class="container left">
        <div class="content">
            <h2>2020</h2>
            <p>
                Here is your product.
            </p>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>2020</h2>
            <p>
                ABCD distributed it to Altamimi through refrigerated cars within 2 days.
            </p>
        </div>
    </div>
</div>
