@model Agriculure.WebUi.Models.Product
@{
    bool error = false;
}

@{
    try
    {
        <div class="col-6">
            <h2 class="text-center">@Model.Name</h2>
        </div>
    }
    catch (Exception)
    {
        
    }
}

