@{
    ViewBag.Title = "Product History";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int ID = ViewBag.prodId;
}
<!-- Start product history Part -->
<style>
</style>
<link rel="stylesheet" href="~/css/Custom.css">


<div class="bannerDiv"><ul><li><a href="/Home">Home</a></li>/<li><a href="/Products">Products</a></li>/<li>Product History</li></ul></div>

<div class="timeline-header row py-2 align-content-center">
    <h2 class="py-1">Product History</h2>
    <div class="row py-1 justify-content-center" style="width: 100%">
        <div class="col-6">
            <input class="form-control" type="text" id="product_id" placeholder="Enter Product Id" value="@ID" />
            <span class="text-danger font-weight-bold" id="erorr" style="visibility: hidden">enter a valid product id</span>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" id="trace_btn">Trace</button>
        </div>
    </div>
    <div class="row py-1 justify-content-center loading-container" style="width: 100%; display:none">
        <div class="col-12" align="center">
            <div class="loader"></div>
        </div>
        <div class="col-12" align="center">Getting Product Details...</div>
    </div>
    <div id="prod_details" class="row justify-content-center" style="width: 100%">

    </div>
    <div id="error_not_authorized" class="row justify-content-center text-danger font-weight-bold" style="width: 100%; display:none">
        you are not authorized to view this product.
    </div>
    @*<p class="text-xl-center text-success" ></p>*@
</div>
<div id="container">

</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $("#trace_btn").click(function () {

        $(".loading-container").css("display", "inline-block")
        setTimeout(function myfunction() {

            var id = $("#product_id").val();
            if (id === "" || id === undefined) {
                $("#erorr").css("visibility", "visible");
            } else {
                $("#erorr").css("visibility", "hidden");
                $.ajax({
                    type: 'GET',
                    url: "/Products/ProdDetails/" + id,
                    contentType: "application/json;",
                    datatype: 'json',
                    success: function (data) {
                        //debugger
                        $(".loading-container").css("display", "none")
                        $('#prod_details').html(data);
                        
                    },
                    failure: function (errMsg) {
                        debugger
                        alert(errMsg);
                    }
                })
                $.ajax({
                    type: 'GET',
                    url: "/Products/ProdHistory/" + id,
                    contentType: "application/json;",
                    datatype: 'json',
                    success: function (data) {
                        debugger
                        if (data === "not authorized") {
                            $("#error_not_authorized").css("display", "inline-block")
                        } else {
                            $('#container').html(data);
                        }

                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                        debugger
                        $("#error_not_authorized").css("display", "inline-block")
                    }
                })
            }

        }, 2000);



    })

    $(document).ready(function () {
        var prodId = @ID;
        if (prodId !== null) {
            $("#trace_btn").trigger("click");
        }
    })
</script>

<!-- End product history Part -->
