
@{
    ViewBag.Title = "Product History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start product history Part -->

<div class="timeline-header row align-content-center">
    <h2>Product History</h2>
    <p>12873838979</p>
</div>

<div class="timeline">
    <div class="container left">
        <div class="content">
            <h2>2020</h2>
            <p>
                Here is your product.
            </p>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>2020</h2>
            <p>
                ABCD distributed it to Altamimi through refrigerated cars within 2 days.
            </p>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>2020</h2>
            <p>
                Nada Producer Took 30kg.
            </p>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>2020</h2>
            <p>
                Farmer Aseel Planted the Seeds in Alhasa on 12/5/2019
                and Harvested on 20/8/2019 and used ABCD Pesticides.
            </p>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>2011</h2>
            <p>
                Olive Seeds from Jof Supplier from Aljof.
            </p>
        </div>
    </div>
    <!-- <div class="container right">
      <div class="content">
        <h2>2007</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div> -->
</div>

<!-- End product history Part -->
