nav #navbarNav{
    justify-content: space-between;
}
.navbar-nav:not(.main-hiddable-nav) .nav-item:not(.main-hiddable-nav) .nav-link:not(.main-hiddable-nav){
    color: #76945e;
    margin-right: 5px;
    box-sizing: border-box;
    border-bottom: 5px solid transparent;
    font-weight: bold;
    transition: color .5s, background-color .5s, border-bottom .25s;
}

.navbar-nav:not(.main-hiddable-nav) .nav-item:not(.main-hiddable-nav) .nav-link:not(.main-hiddable-nav):hover{
    color: white !important;
    background-color: #76945e;
    border-bottom: 5px solid white;
    box-sizing: border-box;
}


.contracts-container {
    padding: 50px 0;
    width: 90%;
    margin: 5px auto;
}
.contracts-container .card-body h5{
    color: #76945e;
}
.o-hidden {
    overflow: hidden;
}
.card {
    max-height: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
    border: 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-img-top{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.btn-outline-primary{
    color: #76945e;
    border-color: #76945e;
}
.btn-outline-primary:visited{
    background-color: #76945e;
    color: white;
    border-color: #76945e;
}
.btn-outline-primary:hover{
    background-color: #76945e;
    color: white;
    border-color: #76945e;
}

@media screen and (max-width: 600px) {
    
    /* Full-width containers */
    .contracts-container {
        width: 100% !important;
        padding: 6vh;
    }
    
  }