body{
    background: url('../imgs/images.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bodyContainer{
    z-index: 999;
    background-color: rgba(247, 247, 247, 0.41);
    min-height:  123vh;
    padding-bottom: 20px;
}
/* navbar */
nav #navbarNav{
    justify-content: space-between;
}
nav .navbar-brand img{
    position: relative;
    left: -63px;
}
.navbar-nav:not(.main-hiddable-nav) .nav-item:not(.main-hiddable-nav) .nav-link:not(.main-hiddable-nav){
    color: #76945e;
    margin-right: 5px;
    box-sizing: border-box;
    border-bottom: 5px solid transparent;
    font-weight: bold;
    transition: color .5s, background-color .5s, border-bottom .25s;
}

.navbar-nav:not(.main-hiddable-nav) .nav-item:not(.main-hiddable-nav) .nav-link:not(.main-hiddable-nav):hover{
    color: white !important;
    background-color: #76945e;
    border-bottom: 5px solid white;
    box-sizing: border-box;
}

.nav-hiddable{
    display: none;
}

@media screen and (max-width: 991px){
    .nav-hiddable{
        display: inline;
    }
    .main-hiddable-nav{
        display: none;
    }
}
@media screen and (max-width: 600px){
    #AddOfferForm {
        width: 90% !important;
        padding: 40px !important;
    }
}

header{
    box-shadow: 2px 2px 18px #5d5c5c;
}
nav.bg-light,header.bg-light{
    background-color: #f0f0f0 !important;
}
.SmallNav{
    margin-left: 29%;
    font-weight: bold;
}
.SmallNav li{
border-radius: 5px
}
.SmallNav li:hover{
    background-color: #7aad37;
}

.SmallNav li a{
    color: #7aad37 !important;

}
.SmallNav li:hover a{
    color: #fff !important
}
nav .headerTxt{
    font-size: 27px;
    color: #7aad37;
    text-transform: capitalize;
}
nav .headerTxt span{
    font-size: 40px;
    color: black;
    text-transform: capitalize;
}
nav #navbarNav{
    margin-left: 25%;
}
span.ourWords{
    font-size: 12px;
    text-align: center;
    position: relative;
    right: 37px;
    font-weight: bold;
    color: #7aad37;
}
/* second header */
nav.bg-light.bg-grey{
    background-color: #a9a8a8 !important;
    height: 40px;
}
nav.bg-light.bg-grey ul{
    margin-left: 4%;
}
.bg-grey ul li{
    width: 150px;
    border-right: 2px solid gray;
}
.bg-grey ul li.nav-item:hover{
    background-color: gray !important
}
nav.bg-light.bg-grey ul li.nav-item a{
    font-weight: 700;
    color: #fff !important;
}
/* Form Style */
.FormSection{
    padding: 70px;
    margin-bottom: 270px;
}
.FormSection input,.FormSection textarea{
    /* margin: 32px;
    padding: 20px; */
    background-color: rgba(255, 255, 255, 0.8);
}
.FormSection input.btn{
    background: #7aad37c7;
    padding: 7px;
    color: #fff;
    font-weight: bold;
}
.form-control:focus{

    border-color: #7aad37c7;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #7aad37c7
}
.FormSection .forgetPassLink{
    float: right;
    color: darkblue;
    font-weight: bold;
    position: relative;
    top: -25px;
    margin-right: 2px;
}
.FormSection span{
    position: relative;
    color: black;
    margin-left: 14px;
    /* top: -16px;
    left: 37px; */
}
.btn:focus{
    border-color: #7aad37c7;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #7aad37c7
}
.FormSection span a{
    color: darkblue;
    font-weight: bold;
   
}
.FormSection .traceForm h3{
    font-size: 24px;
    margin: 24px
}
.FormSection .traceForm input{
    /* margin: 53px 32px; */
}

/* Registration page */
.btnSubmit{
    margin-top: 48px;

}
/* footer paragraph */
footer{
    /* position: absolute;
    bottom: 0px;
    right: 0px; */
    border-top: 2px solid white;
    padding-top: 5px;
    z-index: 999;
    background-color: #F0F0F0;
    min-height: 7vh;
    margin-top: auto;
}
footer p {
    background-color: inherit;
    color: #7aad37c7;
    font-weight: bold;
    /* color: black;
    font-weight: 500;
    font-size: 15px;
    margin: 0px 10px;
    position: relative;
    top: 80px */
}

/* acount */
.Account input{
    /* margin: 0px 32px 32px 0px; */
}
input.LblInput{
    /* margin: -7px 32px 32px 32px; */
}
 label{
    font-weight: 700;
    color: #484545;
    font-size: 21px;
}
.Registration label{
    /* margin-left: 33px; */

}
.Account input.btn{
    top: 39px;
    position: relative;
}
/* home page */
.HomeSection h1{
    margin: 50px;
    font-weight: bold;
    color: #464748;
    text-decoration: underline;
}
.HomeSection ul{
    position: relative;
    top: 127px;
    right: 290px;
}
.HomeSection ul li{
    display: inline-block;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: rgba(75, 103, 38, 0.87);;
    margin: 21px;
    padding-top: 29px;
}
.HomeSection ul li a{
    color: #fff
}

.main-action{
    display: inline-block;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: rgba(75, 103, 38, 0.87);
    margin: 21px;
    padding-top: 29px;
    border-radius: 5px;
    cursor: pointer;
}
.main-action:hover{
    background-color: #7aad37;
}
.main-action:hover a{
    color: white !important;
}
.main-action a{
    display: block;
    padding: 0.5rem 1rem;
    color: #7aad37 ;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}

.HomeSection .container .row{
    width: 100%;
    height: 300px;
}

#AddOfferForm {
    margin: 50px auto;
    width: 70%;
    padding: 50px;
    background-color: #F0F0F0;
    opacity: .9;
    border-radius: 10px;
    color: #76945e;
}
.form-group{
    margin-bottom: 30px;
}

.addProd {
    position: fixed;
    bottom: 67px;
    right: 49px;
    background: #7a9860;
    padding: 20px;
    border-radius: 25px;
}
    .addProd i {
        color: white;
        font-weight: bold;
        font-size: 30px;
    }

.HomeSection{
    width:80% !important
}
    .HomeSection h2 {
        color: black;
        padding: 117px 20px 20px 20px;
        font-weight: 800;
    }
    .HomeSection p {
        font-weight: 600;
        line-height: 1.8;
        padding: 20px;
    }
.container.HomeSection:not(.nav-container)::after {
    content: '';
    position: initial;
    width: 0;
    height: 0;
    right: 0;
    background-color: #000;
    border: 4px solid #000;
    top: 0;
    border-radius: 0;
    z-index: 0;
}